{% extends 'base.html.twig' %}

{% block title %}Confirm index{% endblock %}

{% block body %}
    <h1>Confirm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Token</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for confirm in confirms %}
            <tr>
                <td>{{ confirm.id }}</td>
                <td>{{ confirm.token }}</td>
                <td>{{ confirm.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('confirm_show', {'id': confirm.id}) }}">show</a>
                    <a href="{{ path('confirm_edit', {'id': confirm.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('confirm_new') }}">Create new</a>
{% endblock %}
